# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug
/CameraLibrary/x64/Debug
/.vs
/CameraLibrary/CameraLibrary.vcxproj.filters
/CameraLibrary/CameraLibrary.vcxproj.user
/CameraLibrary/*.user
/CameraLibrary/*.filters
/CameraProject/*.user
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.6
/CameraProject/x64/Debug
